@font-face {
  font-family: "Nunito-title";
  src: url("./assets/fonts/Nunito/Nunito-Bold.ttf") format("truetype"),;
}
@font-face {
  font-family: "Nunito-Subtitle";
  src: url("./assets/fonts/Nunito/Nunito-SemiBold.ttf") format("truetype"),;
}
@font-face {
  font-family: "Source-Sans-3-Regular";
  src: url("./assets/fonts/Source-sans-3/SourceSans3-Regular.ttf")
    format("truetype"),;
}
@font-face {
  font-family: "Source-Sans-3-Bold";
  src: url("./assets/fonts/Source-sans-3/SourceSans3-Bold.ttf")
    format("truetype"),;
}
:root {
  --primary: #0da2e7;
  --background: #f8fafc;

  --accent-orange: #f97015;
  --accent-green: #16a249;
  --accent-yellow: #e7b008;
  --accent-blue: #075578;

  --color-text: #0f1729;

  --font-title: "Nunito";
  --font-body: "SourceSans3";
}
