.background_Parent {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    135deg,
    rgba(13, 162, 231, 0.3) 0%,
    rgba(249, 112, 21, 0.3) 35%,
    rgba(231, 176, 8, 0.3) 65%,
    rgba(22, 162, 73, 0.3) 100%
  );
}

.background_École {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    135deg,
    #d2e9ff 0%,
    #cceef5 35%,
    #cceee6 65%,
    #ddd6f4 100%
  );
}

.form {
  background: rgba(248, 250, 252, 0.8);
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.fieldset_user {
  border: none;
  width: 100%;
}

.fieldset_user ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  border: 1px solid black;
}

.radio_button {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.radio_button_label {
  cursor: pointer;
  flex: 1;
  font-family: var(--font-family-primary-title);
  color: var(--dark-grey);
  font-size: 2.5rem;
  border-bottom: 1px solid var(--dark-grey);
}

/* .radio_button_label_Parent {
  color: var(--orange);
}

.radio_button_label_École {
  color: var(--orange);
} */

.btn_connexion_Parent {
  width: 100%;
  background: linear-gradient(
    135deg,
    #d85e10 /* slightly darker shade */,
    #f97015 /* YOUR brand orange */,
    #ff8c3a /* brighter highlight */
  );
}

.btn_connexion_Parent:hover {
  background: linear-gradient(135deg, #c6560f, #f97015, #ffa154);
}

.btn_connexion_Parent:active {
  background: linear-gradient(135deg, #a9470c, #d85e10, #f97015);
}

.btn_connexion_École {
  width: 100%;
}
