.an_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 0.5rem;
}
.an_title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  color: var(--dark-blue);
}
.logo {
  width: 120px;
  height: auto;
}
