.logo {
  width: 7.5rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  gap: 1rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.filters_container {
  background-color: var(--white);
  /* color? */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  flex-wrap: wrap;
  width: 100%;
  max-width: 800px;
  border-radius: var(--border-radius);
}

.filter_individual {
  display: flex;
  margin: auto;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.checkbox_label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  background: white;
  padding: 0.375rem 0.75rem;
  border-radius: 1rem;
  border: 0.09rem solid #cbd5e1;
  transition: all 0.2s;
  font-size: 0.875rem;
  font-family: var(--font-family-text);
}

.checkbox_label:hover {
  background-color: #f1f5f9;
  border-color: var(--dark-blue);
}

.filter_checkbox {
  accent-color: var(--dark-blue);
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.filter_label {
  font-family: var(--font-family-text);
  font-weight: bold;
  color: var(--dark-blue);
  margin-right: 0.5rem;
}

.filter_button {
  padding: 0.4rem 0.8rem;
  border: 1px solid transparent;
  background-color: #f1f5f9;
  color: #64748b;
  border-radius: 1.25rem;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s ease;
  font-size: 0.875rem;
  font-family: var(--font-family-text);
}

.filter_button:hover {
  background-color: #e2e8f0;
  color: var(--dark-blue);
}

.button_add_ann {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--green);
  color: white;
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: bold;
  font-size: var(--font-family-text);
  font-family: var(--font-family-text);
}

.active {
  background-color: var(--dark-blue);
  color: white;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
}
