.radio_button {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.radio_button_label {
  border: 2px solid var(--light-grey);
  background-color: var(--white);
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  overflow: hidden;
  transition: all 0.2s ease;
}

.radio_button_label:hover {
  border: 2px solid var(--parent-blue);
  color: var(--parent-blue);
  transform: translateY(-1px);
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.45);
}

.radio_button:checked + .radio_button_label {
  border: 2px solid var(--parent-blue);
  background-color: #c2d9f0;
}

.radio_button_label h2 {
  flex: 1;
  text-align: center;
  color: var(--black);
  font-family: var(--font-family-card-title);
  font-size: 1.3rem;
}

.icon_wrapper {
  padding: 1rem 1.5rem;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: margin-left 0.3s ease;
}

.icon {
  width: 2.8rem;
  height: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
}

.icon svg {
  stroke-width: 1.5;
  width: 100%;
  height: 100%;
}

.icon_wrapper_Urgence {
  background-color: var(--red);
}

.icon_wrapper_Autorisation {
  background-color: var(--blue);
}

.icon_wrapper_Divers {
  background-color: var(--green);
}

.icon_wrapper_Absence {
  background-color: var(--orange);
}
