@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

.primary-title {
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-h1);
  font-size: var(--font-size-h1);
}

.secondary-title {
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-h2);
  font-size: var(--font-size-h2);
}

.text-body {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-text);
  font-size: var(--font-size-text);
  color: var(--primary-color-text);
}

.text-body-strong {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-text-strong);
  font-size: var(--font-size-text);
  color: var(--color-text);
}

.parent-background {
  background: var(--background-rainbow-light);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding-top: 1rem;
}

.school-background {
  background-color: var(--grey-background);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.form-title {
  /* font-family: "Nunito", sans-serif;
  font-weight: "600"; */
  font-family: var(--font-family-h3);
  font-size: 3rem;
  color: var(--dark-blue);
  margin: 0 auto;
}
