@font-face {
  font-family: "NunitoBold";
  src: url("/client/src/assets/fonts/Nunito/Nunito-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Nunito-SemiBold";
  src: url("/client/src/assets/fonts/Nunito/Nunito-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Source-Sans-3-Regular";
  src: url("/client/src/assets/fonts/Source-sans-3/SourceSans3-Regular.ttf")
    format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Source-Sans-3-Bold";
  src: url("/client/src/assets/fonts/Source-sans-3/SourceSans3-Bold.ttf")
    format("truetype");
  font-weight: bold;
}

:root {
  --font-family-h1: "Nunito-Bold", sans-serif;
  --font-family-body: "Source-Sans-3-Regular", sans-serif;
  --font-family-h3: "Nunito-SemiBold", sans-serif;

  --font-size-h1: 4rem;
  --font-size-h2: 2.5rem;
  --font-size-h3: 1.5rem;
  --font-size-text: 1rem;

  --font-weight-h1: 600;
  --font-weight-h2: 600;
  --font-weight-h3: 600;

  --font-weight-text: 400;
  --font-weight-text-strong: 600;
}

@media (max-width: 480px) {
  :root {
    --font-size-h1: 3rem;
    --font-size-h2: 2rem;
  }
}
