:root {
  --background-grey: #eef2f7;
  --background-white: #f8fafc;
  --background-rainbow-light: linear-gradient(
    120deg,
    #d4f0fc 0%,
    #fddcc8 35%,
    #fcf2ca 65%,
    #d0fce5 100%
  );

  --black: #0f1729;
  --blue: #0da2e7;
  --dark-blue: #075578;
  --dark-grey: #898888;
  --green: #16a249;
  --light-grey: #cccccc;
  --orange: #f97015;
  --purple: #6d5bd0;
  --red: #e5484d;
  --yellow: #e7b008;
  --white: #f8fafc;

  --primary-color-title: var(--dark-blue);
  --primary-color-text: var(--black);
  --primary-color-items-school: var(--dark-blue);
  --primary-color-items-parent: var(--orange);

  --border-radius: 15px;
}
